In [1]:
import os
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

In [2]:
sc = SparkContext()
sqlContext = SQLContext(sc)

C:\Users\DELL\anaconda3\envs\tensorflow\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [6]:
# 读取数据
df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("train_data .csv")

In [22]:
# 统计total_loan列的情况
df.select(df.total_loan).describe().show()

+-------+-----------------+
|summary|       total_loan|
+-------+-----------------+
|  count|           300000|
|   mean|      14399.20875|
| stddev|8709.179953286359|
|    min|            500.0|
|    max|          40000.0|
+-------+-----------------+

In [63]:
# 确定了最大区间为(40000, 41000)后，进行统计
for i in range(0, 41):
    low = i * 1000
    high = low + 1000
    print('(' + str(low) + ', ' + str(high) + '), ' + str(df.filter(df.total_loan >= low).intersect(df.filter(df.total_loan < high)).count()))

(0, 1000), 2
(1000, 2000), 4043
(2000, 3000), 6341
(3000, 4000), 9317
(4000, 5000), 10071
(5000, 6000), 16514
(6000, 7000), 15961
(7000, 8000), 12789
(8000, 9000), 16384
(9000, 10000), 10458
(10000, 11000), 27170
(11000, 12000), 7472
(12000, 13000), 20513
(13000, 14000), 5928
(14000, 15000), 8888
(15000, 16000), 18612
(16000, 17000), 11277
(17000, 18000), 4388
(18000, 19000), 9342
(19000, 20000), 4077
(20000, 21000), 17612
(21000, 22000), 5507
(22000, 23000), 3544
(23000, 24000), 2308
(24000, 25000), 8660
(25000, 26000), 8813
(26000, 27000), 1604
(27000, 28000), 1645
(28000, 29000), 5203
(29000, 30000), 1144
(30000, 31000), 6864
(31000, 32000), 752
(32000, 33000), 1887
(33000, 34000), 865
(34000, 35000), 587
(35000, 36000), 11427
(36000, 37000), 364
(37000, 38000), 59
(38000, 39000), 85
(39000, 40000), 30
(40000, 41000), 1493

In [64]:
# 另一种统计
num = []
for i in range(0, 41):
    low = i * 1000
    num_tem = df.filter(df.total_loan >= low).count()
    num.append(num_tem)
for i in range(0, 40):
    low = i * 1000
    high = low + 1000
    print('(' + str(low) + ', ' + str(high) + '), ' + str(num[i] - num[i + 1]))
print('(' + '40000' + ', ' + '41000' + '), ' + str(num[40]))

(0, 1000), 2
(1000, 2000), 4043
(2000, 3000), 6341
(3000, 4000), 9317
(4000, 5000), 10071
(5000, 6000), 16514
(6000, 7000), 15961
(7000, 8000), 12789
(8000, 9000), 16384
(9000, 10000), 10458
(10000, 11000), 27170
(11000, 12000), 7472
(12000, 13000), 20513
(13000, 14000), 5928
(14000, 15000), 8888
(15000, 16000), 18612
(16000, 17000), 11277
(17000, 18000), 4388
(18000, 19000), 9342
(19000, 20000), 4077
(20000, 21000), 17612
(21000, 22000), 5507
(22000, 23000), 3544
(23000, 24000), 2308
(24000, 25000), 8660
(25000, 26000), 8813
(26000, 27000), 1604
(27000, 28000), 1645
(28000, 29000), 5203
(29000, 30000), 1144
(30000, 31000), 6864
(31000, 32000), 752
(32000, 33000), 1887
(33000, 34000), 865
(34000, 35000), 587
(35000, 36000), 11427
(36000, 37000), 364
(37000, 38000), 59
(38000, 39000), 85
(39000, 40000), 30
(40000, 41000), 1493